html,
body {
	height: 100%;
	color: #1b1d1f;
	font-family: "Montserrat", sans-serif;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}
.main-page {
	height: 100%;
	background: linear-gradient(270deg, #a5deff 0%, #fcfeff 100%);
	display: flex;
	flex-direction: column;
}
header {
	margin-top: 32px;
	margin-bottom: 56px;
	display: flex;
	padding-left: 16px;
	position: absolute;
	top: 0;
	left: 0;
}
.logo-text {
	margin-left: 16px;
}
.main-page-row {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.banderogus-container {
	background-color: #fff;
	padding: 60px 56px;
	align-self: center;
}
.banderogus-title {
	color: #1b1d1f;
	font-weight: 600;
	font-size: 64px;
	line-height: 72px;
}
.banderogus-greeting {
	color: #1b1d1f;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 16px;
}
.banderogus-start-text {
	color: #ff680a;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 48px;
}
.banderogus-descr {
	color: #1b1d1f;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-top: 24px;
	margin-bottom: 48px;
}
.banderogus-launch {
	background: #ff6b0a;
	border-radius: 8px;
	padding: 12px 24px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
}
.banderogus-image {
	align-self: flex-end;
}
.gus-facts {
	padding: 52px 0 72px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.gus-title {
	font-weight: 600;
	font-size: 48px;
	line-height: 100px;
	color: #1b1d1f;
	margin: 16px 0;
}
.gus-desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #1b1d1f;
	width: 875px;
}
.gus-facts-container {
	width: 1170px;
	display: flex;
	justify-content: space-between;
}
.gus-fact-item {
	width: 33%;
}
.gus-fact-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	color: #1b1d1f;
	margin: 12px 0 32px 0;
	padding-left: 40px;
}
.gus-fact-desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #1b1d1f;
	width: 270px;
	padding-left: 40px;
}

.victory-footer {
	display: flex;
	justify-content: center;
	color: #1b1d1f;
}
.victory-bgd {
	width: 1170px;
	padding: 72px 0;
	margin-bottom: 72px;
	background: linear-gradient(270deg, #c1e8ff 0%, #ffffff 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.victory-title {
	font-weight: 600;
	font-size: 48px;
	margin: 16px 0;
}
.victory-descr {
	width: 875px;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.modal-bgd {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: hsl(210deg 7% 11% / 70%);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}
.modal-form-container {
	background-color: #fff;
	padding: 32px 92px 60px;
	position: relative;
}
.modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-form-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	color: #000;
	margin: 32px 0 16px;
}
.modal-form-descr {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	margin-bottom: 24px;
}

.modal-form-field {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
.modal-field-name {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 8px;
	color: #000;
}
.modal-field-input {
	background: #ffffff;
	border: 1px solid #005bbb;
	border-radius: 8px;
	height: 48px;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	padding: 4px 8px;
}
.modal-form-btn {
	background: #ff6b0a;
	border-radius: 8px;
	padding: 12px 24px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
	margin-top: 24px;
}

.close-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	font-size: 20px;
	color: #000;
	cursor: pointer;
	border: 0;
	background: none;
}
.modal-descr {
	margin-bottom: 0;
}

.modal-active {
	opacity: 1;
	pointer-events: all;
}
